<div>

	<div class="input">
		<label>Nome</label>
		<input type="text" [(ngModel)]="file.name"/>
	</div>
	<div class="input">
		<label>Descrição</label>
		<input type="text" [(ngModel)]="file.desc"/>
	</div>
	<div class="input">
		<label>Arquivo</label>
		<input type="file"/>
	</div>
	<div class="tagSelection">
		<div class="input">
			<label>Tags</label>
			<input type="text" [(ngModel)]="tag" />
			<span><i class="fa fa-plus-square" (click)="addTag()"></i></span>
		</div>
		<ul>
			<li *ngFor="#tag of file.tags" class="tag">
				{{tag.name}}
			</li>
		</ul>
	</div>

	<div>
		<button (click)="save()">Salvar</button>
	</div>
</div>